.header__content {
    margin-left: 25%;
    transform: translate(-30%, -30%);
}
.header__content a {
    display: block;
     border-radius: 1px;
    color: $white;
    border: .5px solid $white;
    margin-left: 38%;
    width: 25%;


}

.header img {
    position: relative;
    height: 70%;
}



h1::before {
    content: "";
    width: 60px;
    height: 3px;
    position: absolute;
    background-color: $white;
    display: inline-block;
    top: 80%;
    left: 45%;
}

.header:hover {
    img {
        opacity: .3;
    }

    background-image: linear-gradient(0deg, #fbe389 0%, #f38a81 100%);
}
@media only screen and(max-width:1320px){
    .header__content{
h1{
    font-size: 80px;
    line-height: 120px;
}
transform: translate(-30%, -10%);
    }
   
}
@media only screen and (max-width: 976px) {
    h1{
        display: none;
    }
    .header__content a {
        width: 40%;
        margin-top: 10%;
        color: $white;
        border: .5px solid $white;
        transform: translate(-15%, -80%);
    }

}
@media only screen and (max-width: 614px){
.header__content{
    .kauhsan__font{
        display: none;
    }
}
.header__content a {
    display: block;   
    border: .5px solid $white ;
    color: $white;
    width: 60%;
  margin-left: 27%;

   
}

}
@media only screen and (max-width: 410px){
    .header__content a {
        display: block;   
        border: .5px solid $white ;
        color: $white;
        width: 80%;
      margin-top: 40%;
}}